:root {
    --colorGeneral: rgb(83, 178, 233);
    --borderGeneralTopBot: 3px solid rgb(35, 112, 156);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html {
    font-family: "Roboto",Arial,sans-serif;
}

