* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "Roboto",Arial,sans-serif;

}


.main {
    background-color: red;
    display: flex;
    justify-content: center;
}

.block-central {
    background-color: aqua;
    width: 70em;
    margin: 15px;
    border-radius: 10px;
    min-height: 60vh;
    overflow: hidden;
}
