nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(83, 178, 233);
    border-bottom: 3px solid rgb(28, 102, 145);
}

.navBar-widget {
    display: flex;
}

.navBar-right { 
    background: url(../assets/cathead.png) left center no-repeat;
    padding-left: 90px;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}



.navBar-hamburger {
    position: absolute;
    top: 0.9em;
    right: 1em;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.7rem;
}

.navBar-hamburger span {
    height: 0.35rem;
    width: 100%;
    background-color: rgb(77, 78, 80);
    border-radius: 0.2rem;
}




@media (max-width: 900px) {
    .navBar-widget {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0;

        background-color: rgb(255, 255, 255, 0.75);
        backdrop-filter: blur(5px);

        width: 100%;
        height: 100vh;        
        
        margin-top: -500%;
        transition: all 0.5s ease-out;
    }

    .navBar-widget.isOpen {
        margin-top: 0%;
    }

    .navBar-hamburger {
        display: flex;
        z-index: 100;
    }

    .widget-block {
        display: flex;
        justify-content: center;

        margin: 1.5em 0em;
        width: 50%;
        
        gap: 1em;
    }

    .widget-block:not(.active) {
        border: 6px double rgb(8, 110, 168);
    }

    .widget-block:not(.active):hover {
        background-color: rgb(83, 178, 233);
        border: 6px double rgb(8, 110, 168);
    }

    .active {
        border-width: 8px;
    }
}


