nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    border-bottom: 8px solid rgb(44, 128, 131);
    height: 6em;

    border-radius: 60px;
}

.navBar-widget {
    display: flex;
    height: 60%;
}

.navBar-hamburger {
    position: absolute;
    top: 2em;
    right: 2em;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.navBar-hamburger span {
    height: 0.4rem;
    width: 100%;
    background-color: rgb(77, 78, 80);
    border-radius: 0.2rem;
}

@media (max-width: 900px) {
    .navBar-widget {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin-top: -500%;
        transition: all 1s ease-out;
    }

    .navBar-widget.isOpen {
        margin-top: 0%;
    }

    .navBar-hamburger {
        display: flex;
        z-index: 100;
    }

    .widget-block {
        margin: 1rem 0;
        width: 60%;
    }
}


