.widget-block {
    margin-right: 1.5em;
    padding: 0 15px 0 10px;
    
    display: flex;
    align-items: center;

    border-radius: 45px;
    border: 2px solid rgb(28, 102, 145);
    background-color: rgba(0, 0, 0, 0.15);
}

.widget-img { 
    margin: 2px;
    width: 2em;
    height: 2em;
}

.widget-name {
    color: white;
    font-weight: 900;
    font-size: 0.75em;
    text-decoration: underline;
}

.active {
    background-color: rgb(8, 110, 168);
    border: 4px double white;
}

.widget-block:not(.active):hover {
    border: 2px solid white;
    transition: 0.3s ease;
}
