.main {
    display: flex;
    justify-content: center;
    background: url(../../assets/light-live-background-css.jpg);
    background-position: center;
    padding: 30px 0;
    min-height: calc(100vh - 58px - 37px);
}

@media screen and (max-height: 500px) {
    .main {
        padding: 0;
    }
}
