.head {
    background: linear-gradient(180deg, rgba(110,181,14,1) 0%, rgba(130,205,32,1) 50%, rgba(161,228,72,1) 100%);    
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
    border-bottom: 3px solid #6eb50e;
}

.head h1 {
    color: white;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
}

.cathead {
    height: 30px;
    margin: auto 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;
    border-width: 2px;
}

.cathead option {
}




/* .cathead option {
    padding: 5px 15px;
    margin: 0 10px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
} */

.catdesc {
    display: flex;
    line-height: 16px;
    background: #fafafa;
}


.desc {
    text-align: justify;
    color: #777;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 13px;
}

.catcontent {
    border-top: dotted 1px #ccc;
    overflow: hidden;
    background: #eee;
}

.contentList {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px 0 5px;
    justify-content: space-around;
}

